@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --color-grey: #eee;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Open Sans", sans-serif; 
}
p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Start Here */

.user {
    width: 90%;
    border: 1px solid var(--color-primary);
    padding: 5px;
    margin: 1rem;
}

.user > * {
    margin: 5px 0;
}

.btn {
    padding: 7px;
    cursor: pointer;
}

ul {
    list-style: circle;
    padding-left: 1.5rem;
}

ul li {
font-size: 1.4rem;
padding: 5px 0;
}